.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.7fr 5fr 0.2fr;
  grid-template-areas:
    'header'
    'body'
    'footer';
}

.bodylayout {
  width: 100%;
  height:5fr;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  grid-template-areas:
    'body';
}

.header{
  grid-area: header;
  background-color: aqua;
}
.body{
  grid-area: body;
  grid-column: inherit;
  background-color: rebeccapurple;
}
.footer{
  grid-area: footer;
  background-color: rgb(255, 123, 0);
}